<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RiskAssess | About Liver Disease</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <style>
        body {
    padding-top: 3.5rem;
}

nav {
    font-family: sans-serif;
}

.navbar-brand {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
    </style>

</head>
<body>
    <form id="form1">
        <header>
            <!--Navigation Bar-->
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#"><b>RISK ASSESS</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
		                <a class="nav-link" href="/login">Login</a>
		            </li>
                    <li class="nav-item">
		                <a class="nav-link" href="/signup">Sign Up</a>
		            </li>
                    </ul>
                </div>
            </nav>
        </header>
    <main role="main">
        <div class="container-fluid" style="margin-bottom: 10px; padding-top: 10px; ">
            <div class="container">
                <div class="card card-body"
                    style="border: 5px solid black; box-shadow: 0 0 10px black; border-radius: 2em;">
                    <h2 style="text-decoration: underline;">Welcome to RiskAssess</h2>

                    <p>RiskAssess is a Health Prediction Website. </p>




                    <div class="row">
                        <div class="col-md-12 card card-body"
                            style="box-shadow: 0 0 5px black; margin: 5px; border-radius: 2em;">
                            <h4 style="text-decoration: underline;">Liver disease</h4>
                            <p>The liver is an organ about the size of a football. It sits just under your rib cage on
                                the right side of your abdomen. The liver is essential for digesting food and ridding
                                your body of toxic substances.

                                Liver disease can be inherited (genetic). Liver problems can also be caused by a variety
                                of factors that damage the liver, such as viruses, alcohol use and obesity.

                                Over time, conditions that damage the liver can lead to scarring (cirrhosis), which can
                                lead to liver failure, a life-threatening condition. But early treatment may give the
                                liver time to heal.</p>
                            <h5>Symptoms</h5>
                            <ul>
                                <li>Skin and eyes that appear yellowish (jaundice)</li>
                                <li>Abdominal pain and swelling</li>
                                <li>Swelling in the legs and ankles</li>
                                <li>Itchy skin</li>
                                <li>Chronic fatigue</li>
                                <li>Loss of appetite</li>
                            </ul>
                            <br>
                            <a
                                href="https://www.mayoclinic.org/diseases-conditions/liver-problems/symptoms-causes/syc-20374502">Learn
                                More</a>
                            <br>
                            <iframe width="550" height="320" src="https://www.youtube.com/embed/OLd3PFLfGl4"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </main>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>

    </form>

</body>

</html>